@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow-x: hidden;
}

/* Thay đổi kiểu cuộn */
html {
    scroll-behavior: smooth;
}

/* Tùy chỉnh giao diện thanh cuộn trình duyệt Chrome */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 15px;
}